option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: restaurant_complaint_system.wsgi:application
  aws:elasticbeanstalk:environment:proxy:proxy_server:
    ProxyServer: nginx
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: restaurant_complaint_system.settings
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:command:
    Timeout: 1800

commands:
  01_collect_static:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
    leader_only: true
    ignoreErrors: false
