{% extends 'complaints/base.html' %} 
{% load static %} 

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'complaints/css/edit_complaint.css' %}">
{% endblock %}

{% block content %}
    <div class="edit-container">
        <h1>Edit Complaint: {{ complaint.title }}</h1>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Update Complaint</button>
        </form>

        <a href="{% url 'user_dashboard' %}">Back to Dashboard</a>
    </div>
{% endblock %}
